# Gradle
.gradle/
build/
out/
run/

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# Eclipse
.classpath
.project
.settings/
bin/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Minecraft
logs/
crash-reports/